# Flutter / Dart
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/**/ephemeral/
app/pubspec_overrides.yaml

# Android / IDE
.gradle/
**/*.iml
.idea/
.vscode/
local.properties

# Compilaciones
*.apk
*.aab
*.ipa
*.hex
*.bin
*.elf

# Temporales y respaldos
*.zip
*.tmp
*.bak
*~
app/lib_flutter_original/

# Secretos ESP32
esp32/**/secrets.h
esp32/**/wifi_credentials.h

# Sistema
Thumbs.db
.DS_Store

# Credenciales ESP32 CHICHEJ
esp32/chichej_dispensador/secrets.h